@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<PageTitle>Index</PageTitle>

<h1 style="font-size:@Configuration["h1FontSize"]">Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
